# adds support for Python CGI scripts
AddHandler cgi-script .py

# support for old SSI expression syntax
SSILegacyExprParser on

# gzips pud files
<IfModule mod_deflate.c>
	AddType application/x-warcraft2-scenario .pud
	AddOutputFilterByType DEFLATE application/x-warcraft2-scenario
</IfModule>